<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer id="contact" class="contact-us">
        <div class="container">
            <div class="row">
                <div class="contact-area">
                    <h2 >Contact</h2>
                    <ul class="contact-list">
                        <li>
                            <i class="fa fa-phone"></i> <a href="tel:123456">  Phone:  +48  123 456 789</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> <a href="mailto:#">  Mail : biuro@biuro.pl</a>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <a href="https://www.google.com/maps/place/Saska+50%2F8,+03-924+Warszawa/@52.2327877,21.0589823,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecda8bca9aae1:0x55d721102e9a62d6!8m2!3d52.2327877!4d21.061171">
                              Address:
                              Saska 50 lok. 8, Warszawa</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
