<div id="offer" class="offer">About us</div>
<hr class="hr">
<div class="subtitles-1">
  <article>
    “PRMSoftware” is a company created to deliver expert services and solutions for big and enterprise sized companies.
    It’s primary rule and goal is to create complexed and effective solutions for complicated problems in modern IT
    world. Keeping it in mind there are two more rules which creates company manifest fundamentals:
    “There is always a solution for a problem no matter how it is complicated. Solution does not have to be complicated
    same way problem is. Try to not shoot a fly with a tank first.”
    “Your work should be a joy not a duty. If it’s not a joy you will fail your duties.
    For 25 years we gathered a unique and broad set of knowledge necessary for designing and creating solutions.
    We do not believe in specialization and targeting for certain OS. Current world demands flexibility, we are aware we
    have to design multiplatform solutions.
    So for us there are no borders , write your code and run it everywhere it’s needed.
  </article>
</div>
<div>
  <article>
    <pre>
        Our technology stack is :
        For programming :
        -Go/Python/Java
        -Javascript/Typescript
        -React/Angular
        For design :
        -Business analysis using modern research technologies
        user experience of process analysis
        -UI designs
        For clouds :
        -Openstack - Triple/Redhat with all features you want
        -Azure – Design as you wish, deploy as design.
        OS types :
        <span id="ourteam">-All</span>
        </pre>
  </article>
</div>
<div class="offer">Our team</div>
<hr class="hr">
<div class="subtitles-1">
  <pre>
    Maciej Leszczyński
    Chief technologist and main cloud cook

    Applitopia
    Józef Banki

    Ląd Stefko
    Oracle solutions special forces

    Marcin Mastalerz
    The Artist

    Artur Wszołek
    The admin and sous chef

    Imigne
    <span id="operate">The Artist and Philosopher</span>
  </pre>
</div>
<div class="offer" id="operate">Where we operate</div>
<hr class="hr">
<div class="subtitles-1">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
  similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
  facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
  minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
  quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
  ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores <span id="ourcustomers">repellat."</span></div>

<div class="offer" id="ourcustomers">Our customers</div>
<hr class="hr">
<div class="subtitles-1">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
  similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
  facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
  minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
  quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
  ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores <span id="recruitment">repellat."</span></div>
<div class="offer" id="recruitment">Recruitment</div>
<hr class="hr">
<div class="subtitles-1">
  <pre>
Currently, we do not recruit at the moment,
but if you are interested in working with our company,
please send us your <span id="reference">CV</span>
</pre>
</div>
