@import url('https://fonts.googleapis.com/css?family=Merriweather');

article {
  text-align: center;
  justify-content: center;
  margin-left:10px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
}

.reference-hr {
    border-top: 2px solid 	#B4965B;
    height: 2px;
    width: 70%;
}

.description-container {
  justify-content: center;
  position: relative;
  padding-left: 20%;
  padding-bottom:20px;
  display: inline-block;
}

img {
  border: 2px solid #B4965B;
  margin-left: 35%;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 503px) {
  img {
    margin-left:29%;
  }
}
